body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.user-guide-container {
  display: flex;
  flex-direction: column;
  padding: 60px 10% 0px 10%;
}

.drop-shadow {
  box-shadow: 0px 2px 8px 0px rgba(144, 144, 144, 0.2);
}

.user-guide-header {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 38.4px;
  color: #ffffff;
  background-color: #432C5F;
  padding: 16px 24px;
  text-align: left;
}

.user-guide-content {
  padding-top: 32px;
  padding-bottom: 80px;
  background-color: #ffffff;
}

.user-guide-img {
  display: block;
  width: 100%;
}

.compatible-devices-container {
  margin-top: 48px;
  padding: 0 10%;
}

.row {
  margin-bottom: 8px;
}

.row h1 {
  font-size: 28px;
  line-height: 33.6px;
  color: #4e4e4e;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.row p {
  font-size: 16px;
  line-height: 24px;
  color: #4e4e4e;
  font-weight: normal;
  margin: 0;
  text-align: left;
}

.image-container {
  padding: 32px 0px;
}

.image-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.image-row img {
  width: 95%;
  height: auto;
}

.image-row a {
  width: 25%;
  height: auto;
}