.header-container {
    padding: 40px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBFBFB;
  }
  
  .banner-image {
    width: 100%;
    height: auto;
  }
  