.gallery-container {
    display: flex;
    flex-direction: column;
    padding: 60px 10%;
  }
  
  .drop-shadow {
    box-shadow: 0px 2px 8px 0px rgba(144, 144, 144, 0.2);
  }
  
  .gallery-header {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 38.4px;
    color: #ffffff;
    background-color: #432C5F;
    padding: 16px 24px;
    text-align: left;
  }
  
  .gallery-content {
    padding: 50px 64px;
    background-color: #ffffff;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .tab {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 27px;
    padding: 10px 50px;
    cursor: pointer;
  }
  
  .tab.active {
    font-weight: bold;
    color: #432C5F;
    border-bottom: 2px solid #432C5F;
  }
  
  .tab:not(.active) {
    font-weight: 600;
    color: #695679;
  }
  
  .tab-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  .photos, .videos {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 94px;
    justify-content: flex-start;
    width: 100%;
  }
  
  .photo-item, .video-item {
    width: calc((100% - 3 * 94px) / 4);
    height: auto;
  }
  