.footer {
    background-color: white;
    padding: 24px 10%;
    box-shadow: 0px -2px 10px 0px rgba(144, 144, 144, 0.15);
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-left {
    font-family: 'Poppins', sans-serif;
    color: #4e4e4e;
    font-size: 14px;
    line-height: 21px;
  }

  .footer-left p {
    margin: 0;
  }

  .footer-left .bold {
    font-weight: bold;
  }
  
  .footer-left-2 {
    font-family: 'Poppins', sans-serif;
    color: #4e4e4e;
    font-size: 13px;
    line-height: 19.5px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .bookdoc {
    font-family: 'Poppins', sans-serif;
    color: #432C5F;
    font-size: 13px;
    line-height: 19.5px;
  }
  
  .footer-right {
    cursor: pointer;
  }
  
  .back-to-top {
    width: 40px;
    height: auto;
  }
  